test/src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bc6ef17d-3423-468b-a999-196a54c749f0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="55462594-eac9-4c0c-8660-c3d29393bebd" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Godisgreat1!" database="training" />
	</db:config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="8f3abae8-97c5-4520-a169-c8ed1806e40a" >
		<salesforce:basic-connection username="maredian8@google.com" password="Godisgreat1" securityToken="CkfLMlmfIh1YcNWHZkMxBn1Hh" />
	</salesforce:sfdc-config>
	<flow name="testFlow" doc:id="899203a9-9494-4510-bd0c-ab222f676989" >
		<http:listener doc:name="Listener" doc:id="bdd02e6d-4c95-48ba-881a-2014552c64da" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="6f7fcb04-57fa-4fec-988b-c890a81570ec" message="#[payload]" />
		<http:request method="GET" doc:name="Request" doc:id="169cf033-680b-47a0-93b5-b9b591c94675" url="https://movie-database-imdb-alternative.p.rapidapi.com/" sendCorrelationId="AUTO">
			<http:headers ><![CDATA[#[output application/java
---
{
	"x-rapidapi-key" : "0ac7215a20msh53ff1971dabb2a2p15c288jsn9b8bbe955fd1",
	"x-rapidapi-host" : "movie-database-imdb-alternative.p.rapidapi.com"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"s" : attributes.queryParams.title,
	"r" : "json"
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="71a0e48c-c750-4807-b65b-52debd1b9996" message="#[payload]"/>
	</flow>
</mule>
